
.box{
    width:29%;
    height: 400px;
    margin:2%;
    float:right;
    border:solid;
    text-align: center;
    
}
.big-box{
    height: 600px;
    margin:2%;
    border:solid;
    text-align: center;
    border:solid;
}
.login{
    width:80%;
    margin:1%;

}
nav{
    height: 50px;
    padding: 1%;
    display:inline-block
}
header{
    border-bottom-color: darkgrey;
    border-bottom-width: thick;
    border: solid;
    height: 62px
}

#username {
    margin-right: 10%;
    float: right;
}
#logo {
    margin-left: 2%;
    float: left;
    background-image: url('img/logo.png');
    background-size:     cover;                      
    background-repeat:   no-repeat;
    background-position: center center;  
    width: 57px;
    height: 57px

}
.notice{
    background-color: rgb(187, 187, 47);
    width:80%;
    height: 100px;
    margin:10%
}
.solid{
 border:solid;
}
.main-boxes{
    height: 600px;
    
}

.categories{
 height: 40px
}
.item{
    text-align: center;
    width:100px;
    background-color:whitesmoke;
    color:black;
    margin:2%
}
.item sm{
    font-size:10px
}
.itemLarge{
    text-align: center;
    width:96%;
    height:400px;
    background-color:whitesmoke;
    color:black;
    margin:2%;
    

}
.horizontal-collapse {
    height: 70px;
  }
  .navbar-collapse.in {
    overflow-y: hidden;
  }
