<div class = "container" ng-controller="mainpagecontroller">
 
    <div class="row">
        <div class="col-sm-1 col-md-2"></div>
        <div class="col-sm-10 col-md-8">

                <div class="box">{{userName}}
                        {{password}}
                    </div>
                
                    <div class="box">{{userName}}
                        {{password}}
                    </div>

            <div class="box">
                <h1>Login</h1>
               <input class="login"type="text" ng-model="userName" id="1"placeHolder="Name">
                <input class="login"type="password" ng-model="password" id="2"placeHolder = "Password">
                <button type="submit" ng-click="submitlogin()">Login</button>
                <a href="#!register" class="login" >register</a>
            </div>
           
            
           
        </div>  
        <div class="col-sm-1 col-md-2"></div>
    </div>
</div>