<div>
    <div class="row">
        <div class="col-sm-4 col-md-5 ">
           
            <div class="horizontal-collapse" uib-collapse="isCollapsedHorizontal" horizontal>
                <div class="main-boxes solid">
                    <tp-report data='data'></tp-report>
                    <h1>Cart</h1>
                    <div class="item" ng-repeat="(key,value) in data.cart_items">
                        <p>{{value.name}}</p>
                        <sm>total: {{value.total}} </sm>
                        <sm>price for one unit: {{value.price}} shekel</sm>
                        <sm>amount: {{value.amount}} </sm>
                        <input value="EDIT" type="submit" ng-click='editCartItem()'>

                        <img src="{{value.pic_url}}" alt="404 {{value.pic_url}}" width="50px">

                    </div>
                    <input type="submit" ng-click="checkout()">
                </div>
            </div>
        </div>


        <div class='{{storeSize}}' container>
                <button type="button" class="btn btn-default" ng-click="isCollapsedHorizontal = !isCollapsedHorizontal">Toggle
                        collapse Horizontally</button>\
                        <tp-report data='data'></tp-report>
            <div class="main-boxes solid">
                <h1>Store</h1>
                <div class="categories solid">
                    <a class="category" href="" ng-click="loadCitems(value.id)" ng-repeat="(key,value) in data.categories">
                        {{value.name}}
                    </a>
                </div>
                <div class="item" ng-click="open(value)" ng-repeat="(key,value) in data.items">
                    <p>{{value.name}}</p>
                    <sm>{{value.price}} shekel</sm>
                    <img src="{{value.pic_url}}" alt="404 {{value.pic_url}}" width="50px">
                </div>
            </div>
        </div>
    </div>